---
layout: base
---

<header class="page__header">
  <h1>Maplibre Scrolly</h1>
</header>

<main class="site__content">
  <p>I'm a paragraph in the mock Sophora container. I should appear red (from the global stylesheet)</p>
  {% include "test/hero-scrolly.html" %}
</main>