.maplibregl-popup {
	top: 0;
	left: 0;
	display: flex;
	position: absolute;
	will-change: transform;
}
.maplibregl-popup-anchor-top,
.maplibregl-popup-anchor-top-left,
.maplibregl-popup-anchor-top-right {
	flex-direction: column;
}
.maplibregl-popup-anchor-bottom,
.maplibregl-popup-anchor-bottom-left,
.maplibregl-popup-anchor-bottom-right {
	flex-direction: column-reverse;
}

.maplibregl-popup-anchor-left {
	flex-direction: row;
}

.maplibregl-popup-anchor-right {
	flex-direction: row-reverse;
}

.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
	transform: translateY(50%) rotate(45deg);
	align-self: center;
}

.maplibregl-popup-anchor-top .maplibregl-popup-tip {
	transform: translateY(-50%) rotate(-135deg);
	align-self: center;
}

.maplibregl-popup-anchor-left .maplibregl-popup-tip {
	transform: translateX(-50%) rotate(135deg);
	align-self: center;
}

.maplibregl-popup-anchor-top-left .maplibregl-popup-tip {
	transform: translateY(1em) translateX(-50%) rotate(135deg);
}

.maplibregl-popup-anchor-bottom-left .maplibregl-popup-tip {
	transform: translateY(-1em) translateX(-50%) rotate(135deg);
}

.maplibregl-popup-anchor-right .maplibregl-popup-tip {
	transform: translateX(50%) rotate(-45deg);
	align-self: center;
}

.maplibregl-popup-anchor-top-right .maplibregl-popup-tip {
	transform: translateX(-1em) translateY(-50%) rotate(-135deg);
	align-self: flex-end;
}

.maplibregl-popup-anchor-bottom-right .maplibregl-popup-tip {
	transform: translateX(-1em) translateY(50%) rotate(45deg);
	align-self: flex-end;
}

.maplibregl-popup-close-button {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	cursor: pointer;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0.15em;
	font-size: 1.25rem;
	width: 1.1em;
	height: 1.1em;
	z-index: 100;
	background: white;
	border: 1px solid var(--gray-dark-5);
}

.maplibregl-popup-close-button:hover,
.maplibregl-popup-close-button:focus {
	background: var(--gray-light-5);
}

.maplibregl-popup-tip {
	width: 0.65rem;
	height: 0.65rem;
	background: white;
	position: absolute;
	border-right: 1px solid rgba(0, 0, 0, 0.75);
	border-bottom: 1px solid rgba(0, 0, 0, 0.75);
	z-index: 10;
}
