%caption {
	font-family: $swr-sans;
	font-size: 0.9rem;
	line-height: 1;
	letter-spacing: 0.0045em;
}

%caption-bold {
	@extend %caption;
	font-weight: 600;
}

%form-label {
	@extend %caption;
	display: block;
	margin-bottom: 0.5em;
}

%copy {
	font-family: $swr-sans;
	font-size: 1.1rem;
	line-height: 1.45;
	letter-spacing: 0.0045em;
}

%copy-bold {
	@extend %copy;
	font-weight: 600;
}

%form-input {
	@extend %copy;
	height: $input-height;
	width: 100%;
	border: 1px solid currentColor;
	border-radius: $border-radius-input;
	background: transparent;
	padding: 0 0.5em;
	padding-top: 0.1em;
	color: currentColor;
	height: $input-height;
	margin: 0;
	display: block;
	width: 100%;
	text-size-adjust: none;
	&:focus-visible {
		outline: 4px solid rgba(white, 0.4);
	}
}
