// Copied 1:1 from swr.de
$bp-xxs: 320px;
$bp-xs: 375px;
$bp-s: 425px;
$bp-m: 768px;
$bp-l: 1024px;
$bp-xl: 1440px;

// TODO drop everything below

%form-input {
	font-family: var(--swr-sans);
	font-size: 1.1rem;
	line-height: 1.45;
	letter-spacing: 0.0045em;
	height: 2.5em;
	width: 100%;
	border: 1px solid currentColor;
	border-radius: var(--br-small);
	background: transparent;
	padding: 0 0.5em;
	padding-top: 0.1em;
	color: currentColor;
	margin: 0;
	display: block;
	text-size-adjust: none;
	&:focus-visible {
		outline: 4px solid rgba(white, 0.4);
	}
}
