$break-phone: 510px;
$break-tablet: 992px;
$break-desktop-small: 1200px;
$break-desktop-large: 1400px;
$break-desktop-xl: 1400px;

// TODO drop everything below

%caption {
	font-family: var(--swr-sans);
	font-size: 0.9rem;
	line-height: 1;
	letter-spacing: 0.0045em;
}

%caption-bold {
	@extend %caption;
	font-weight: 600;
}

%form-label {
	@extend %caption;
	display: block;
	margin-bottom: 0.5em;
}

%copy {
	font-family: var(--swr-sans);
	font-size: 1.1rem;
	line-height: 1.45;
	letter-spacing: 0.0045em;
}

%copy-bold {
	@extend %copy;
	font-weight: 600;
}

%form-input {
	@extend %copy;
	height: 2.5em;
	width: 100%;
	border: 1px solid currentColor;
	border-radius: var(--br-small);
	background: transparent;
	padding: 0 0.5em;
	padding-top: 0.1em;
	color: currentColor;
	margin: 0;
	display: block;
	width: 100%;
	text-size-adjust: none;
	&:focus-visible {
		outline: 4px solid rgba(white, 0.4);
	}
}
