// swr main colors
$petrol--1: #05556a;
$eisblau--1: #00dbd7;
$dunkelblau--1: #0a1e3c;
$orange--1: #ff4e3c;
$purpur--1: #5c267e;
$rosarot--1: #ff003c;

// impfungen
$erst: #929292;
$voll: rgb(0, 150, 160);
$boost: #05556a;

// min max
$inzidenz--max: #05556a;
$inzidenz--min: transparentize($inzidenz--max, 0.1);

// scale with 10 options
$inzidenz--10: rgb(4, 52, 58);
$inzidenz--9: rgb(5, 70, 84);
$inzidenz--8: rgb(5, 92, 112);
$inzidenz--7: rgb(4, 128, 142);
$inzidenz--6: rgb(1, 165, 172);
$inzidenz--5: rgb(1, 203, 203);
$inzidenz--4: rgb(103, 229, 228);
$inzidenz--3: rgb(177, 245, 250);
$inzidenz--2: rgb(203, 245, 250);
$inzidenz--1: rgb(218, 241, 244);

$inzidenz-1--8: rgb(4, 52, 58);
$inzidenz-1--7: rgb(5, 69, 82);
$inzidenz-1--6: rgb(5, 86, 107);
$inzidenz-1--5: rgb(2, 122, 137);
$inzidenz-1--4: rgb(0, 150, 160);
$inzidenz-1--3: rgb(0, 218, 214);
$inzidenz-1--2: rgb(194, 247, 254);
$inzidenz-1--1: rgb(218, 241, 244);

// Spritpreise
$diesel-min: #f9ebb7;
$diesel-max: #b7950d;
$e5-min: #d0f0f1;
$e5-max: #05556a;
$e10-min: #ebd9e1;
$e10-max: #7e2d41;

// extra colors
$hellgrau--1: #b8b8b8;
$hellgrau--2: #929292;
$hellgrau--3: #7b7b7b;
$hellgrau--4: #494949;
$schwarzgrau--1: #383838;
$schwarzgrau--4: #161616;

$schatten-grau: #eeeeee;
$hintergrund-grau: #f5f5f5;

body {
  --petrol--1: #00677f;
  --eisblau--1: #00dbd7;
  --türkisblau--1: #007e8f;
  --dunkelblau--1: #0a1e3c;
  --orange--1: #ff4e3c;
  --purpur--1: #5c267e;

  --rosarot--1: #ff003c;
  --pink--1: #ff0096;
}

body[stationid='swraktuell'] {
  --swrdata-color-primary: var(--petrol--1);
  --swrdata-color-highlight: var(--orange--1);
}

body[stationid='swr3'] {
  --swrdata-color-primary: var(--rosarot--1);
  --swrdata-color-highlight: var;
}

:export {
  dieselMin: $diesel-min;
  dieselMax: $diesel-max;
  e5Min: $e5-min;
  e5Max: $e5-max;
  e10Min: $e10-min;
  e10Max: $e10-max;
}
